@import "../../../common/assets/variables";

.main-container {
    width: 100%;
    min-height: 100vh;
}
.main-body {
    min-height: 90vh;
}
.main-body.authorized {
    margin-left: 70px;
}

@media only screen {

    @media (max-width: $sm) {
        .main-body {
            padding: 0;
        }
    }
    @media (min-width: $sm) {

    }

    @media (min-width: $sm) and (max-width: $md) {

    }

    @media (max-width: $md) {

    }


    @media (min-width: $md) {

    }

    @media (min-width: $md) and (max-width: $lg) {

    }

    @media (max-width: $lg) {

    }

    @media (min-width: $lg) {

    }

    @media (min-width: $lg) and (max-width: $xl) {

    }

    @media (min-width: $xl) {

    }

    @media (min-width: $xl) and (max-width: $xxl) {

    }

    @media (min-width: $xxl) {

    }
}