@import "../../assets/variables";


.footer-container {
    padding: 0px 150px;
    min-height: 10vh;
}

.footer-content {
    border-top: 1px solid rgb(201, 201, 201);
    display: flex;
    justify-content: between;
    align-items: center;
    min-height: 10vh;
}

.headline {
    flex-shrink: 0;
    margin: 0;
    color: rgb(140, 140, 140);
}

.footer-list-content {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    gap: 20px;
    a {
        color: $darkColor;
        text-decoration: none;
        transition: color ease 0.3s;
        &:hover {
            color: $primaryColor;
        }
    }
}

@media only screen {
    @media (max-width: $sm) {

    }

    @media (min-width: $sm) and (max-width: $md) {

    }

    @media (max-width: $md) {

    }


    @media (min-width: $md) {

    }

    @media (min-width: $md) and (max-width: $lg) {

    }

    @media (max-width: $lg) {

    }

    @media (min-width: $lg) {

    }

    @media (min-width: $lg) and (max-width: $xl) {

    }

    @media (min-width: $xl) {

    }

    @media (min-width: $xxl) {
    }

    @media (min-width: $xxl) and (max-width: 1700px) {
    }

    @media (min-width: 1700px) {
    }
}