@import "../../../common/assets/variables";

.sidebar-container {
    width: 70px;
    padding: 25px 16px 6px 16px;
    position: fixed;
    height: 100%;
    background-color: #fffffc;
    z-index: 2;
    border-radius:15px;
    border: 2px solid #dfdfdf;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.sidebar-container.active {
    width: 250px;
    text-align: end;
}

.sidebarIcon {
    width: 30px;
    height: 30px;
}

.sidebarSelected {
    background-color: $primaryColor;
    color: $lightColor !important;
}

.sidebarNav {
    text-decoration: none;
    color: $lightColor !important;
    font-size: 20px;
}

.listItems {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px 0px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    color: $darkColor;
    &:hover {
        background-color: $primaryColor;
        color: $lightColor !important;
    }
}

.listItems.active {
    justify-content: center;
    padding: 5px;
}

.list-element {
    display: none;
    margin: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
}

.list-element.active {
    display:block;
}

.sidebarlist {
    margin-top: 50px;
}
@media only screen {

    @media (max-width: $sm) {
        .main-body {
            padding: 0;
        }
    }
    @media (min-width: $sm) {

    }

    @media (min-width: $sm) and (max-width: $md) {

    }

    @media (max-width: $md) {

    }


    @media (min-width: $md) {

    }

    @media (min-width: $md) and (max-width: $lg) {

    }

    @media (max-width: $lg) {

    }

    @media (min-width: $lg) {

    }

    @media (min-width: $lg) and (max-width: $xl) {

    }

    @media (min-width: $xl) {

    }

    @media (min-width: $xl) and (max-width: $xxl) {

    }

    @media (min-width: $xxl) {

    }
}