@import "../../../common//assets//variables";

.notification-container {
    width: 40%;
}

.notification-box {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
}

.notification-headline {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    color: $primaryColor;
}

@media only screen {

    @media (max-width: $sm) {
    }
    @media (min-width: $sm) {

    }

    @media (min-width: $sm) and (max-width: $md) {

    }

    @media (max-width: $md) {

    }


    @media (min-width: $md) {

    }

    @media (min-width: $md) and (max-width: $lg) {

    }

    @media (max-width: $lg) {

    }

    @media (min-width: $lg) {

    }

    @media (min-width: $lg) and (max-width: $xl) {

    }

    @media (min-width: $xl) {

    }

    @media (min-width: $xl) and (max-width: $xxl) {

    }

    @media (min-width: $xxl) {

    }
}