@import "../../common/assets/variables";

.sidebar-container {
    width: 70px;
    padding: 25px 16px 6px 16px;
    position: fixed;
    height: 100%;
    background-color: $lightColor;
    z-index: 2;
    border-radius:15px;
    box-shadow: 0px 0 30px rgba(0,0,0,.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.sidebar-container.active {
    width: 250px;
    text-align: end;
}

.sidebarIcon {
    width: 30px;
    height: 30px;
}

.sidebarSelected {
    background-color: #e3e3e3;
}

.sidebarNav {
    text-decoration: none;
    color: $lightColor !important;
    font-size: 20px;
}

.listItems {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: 5px;
    padding: 2px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    color: $darkColor;
    &:hover {
        background-color: #e3e3e3;
    }
}

.list-element {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    margin: 0px;
}

.list-element.active {
    opacity: 1;
}

.sidebarlist {
    margin-top: 50px;
}
@media only screen {

    @media (max-width: $sm) {
        .main-body {
            padding: 0;
        }
    }
    @media (min-width: $sm) {

    }

    @media (min-width: $sm) and (max-width: $md) {

    }

    @media (max-width: $md) {

    }


    @media (min-width: $md) {

    }

    @media (min-width: $md) and (max-width: $lg) {

    }

    @media (max-width: $lg) {

    }

    @media (min-width: $lg) {

    }

    @media (min-width: $lg) and (max-width: $xl) {

    }

    @media (min-width: $xl) {

    }

    @media (min-width: $xl) and (max-width: $xxl) {

    }

    @media (min-width: $xxl) {

    }
}