@import "../../assets/variables";

.file-list {
    overflow-y: auto;
    max-height: 300px;
    margin-top: 20px;
}

.file-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.progress-bar {
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin-top: 5px;
    height: 10px;
    position: relative;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #007bff;
    transition: width 0.3s ease;
}

.remove-btn {
    padding: 10px;
    margin-left: 10px;
    background: none;
    border: none;
    border-left: 1px solid rgb(198, 198, 198);
}



@media only screen {
    @media (min-width: $sm) {

    }

    @media (min-width: $sm) and (max-width: $md) {

    }

    @media (max-width: $md) {
    }


    @media (min-width: $md) {

    }

    @media (min-width: $md) and (max-width: $lg) {

    }

    @media (max-width: $lg) {

    }

    @media (min-width: $lg) {

    }

    @media (min-width: $lg) and (max-width: $xl) {

    }

    @media (min-width: $xl) {

    }

    @media (min-width: $xl) and (max-width: $xxl) {

    }

    @media (min-width: $xxl) {

    }
}