$xs: 0px;
$psm: 370px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;


$primaryColor: #293241;
$secondaryColor: #B0BEC5;
$lightColor: #F5F5F5;
$darkColor: #424242;
$accentColor: #9FA8DA;