@import "../../../common/assets/variables";

.content {
    position: absolute;
    width: 100%;
    padding: 20px 150px;

}

.sign-container {
    border-radius: 10px;
    border: 1px solid $secondaryColor;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-button {
    border: none;
    background: none;
    width: 80px;
    padding: 10px;
}

.left-selected {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right-selected {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media only screen {
    @media (max-width: $sm) {

    }

    @media (min-width: $sm) and (max-width: $md) {

    }

    @media (max-width: $md) {

    }


    @media (min-width: $md) {

    }

    @media (min-width: $md) and (max-width: $lg) {

    }

    @media (max-width: $lg) {

    }

    @media (min-width: $lg) {

    }

    @media (min-width: $lg) and (max-width: $xl) {

    }

    @media (min-width: $xl) {

    }

    @media (min-width: $xxl) {
    }

    @media (min-width: $xxl) and (max-width: 1700px) {
    }

    @media (min-width: 1700px) {
    }
}