@import "../../../common/assets/variables";

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 60%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 12px 1px rgba(0, 0, 0, 0.413);
    background-color: white;
}

.btnLogin {
    background-color: #293241;
    border: unset;
    font-size: 0.9rem;
    padding: 12px 20px;
    border-radius: 10px;
    transition: box-shadow ease 1s;
    color: white;

    &:hover {
        box-shadow: 1px 2px 20px 1px #1f2531;
        transition: box-shadow ease 1s;
    }
}

.google {
    font-size: 0.9rem;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid $secondaryColor;
    width: 100%;
    transition: box-shadow ease 1s;

    &:hover {
        box-shadow: 1px 2px 20px 1px #afafaf;
        transition: box-shadow ease 1s;
    }
}

@media only screen {
    @media (min-width: $sm) {
        
    }

    @media (min-width: $sm) and (max-width: $md) {

    }

    @media (max-width: $md) {

    }


    @media (min-width: $md) {

    }

    @media (min-width: $md) and (max-width: $lg) {

    }

    @media (max-width: $lg) {

    }

    @media (min-width: $lg) {

    }

    @media (min-width: $lg) and (max-width: $xl) {

    }

    @media (min-width: $xl) {

    }

    @media (min-width: $xl) and (max-width: $xxl) {

    }

    @media (min-width: $xxl) {

    }
}